{% extends "base_generic.html" %}

{% block content %}

<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h2>Тествове задание на позицию Junior</h2>
        <h4> Лобойко А.В. </h4>
        <br>
        <h5>Разработать сервис, который будет удовлетворять следующим характеристикам:</h5>
        <ol >
          <li>Сервисом могут пользоваться 2 вида пользователей </li>
          <li>Один из видов пользователей может создавать 2 разновидности события</li>
          <li>Второй вид пользователей может выполнять следующие действия в зависимости от типа события:</li>
          <ol>
              <li>Оставить заявку на участие</li>
              <li>Отправить отклик (Форма с возможностью прикрепить файл)</li>
          </ol>
          <li>На почту пользователя, который создал событие приходит уведомление о заявке или отклике</li>
          <li>В личном кабинете пользователь видит все заявки на событие</li>
        </ol>
        <p>
          Характеристики событий на усмотрение кроме даты размещения, дата проведения, заявки и
          отклик должен содержать пользователя, который откликнулся, дату и событие,
          стальное на усмотрение разработчика.
        </p>
        <br>
        <h5>Дополнительный требование которые будут плюсом при оценке задания:</h5>
        <li class="list-group-item">Использовать Docker</li>
        <li class="list-group-item">Написать функционал уведомления о заявке за день до наступления события</li>
        <li class="list-group-item">Реализована удобная навигация и фильтрация в кабинете для событий</li>
        <li class="list-group-item">Написание тестов</li>
    </div>
</div>

{% endblock %}